<div class="header">

    <a  routerLink="home" routerLinkActive="active-link"><img src="assets/pics/logo.svg" alt="Online Therapy"></a>
    <ul>
      <li>
        <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="therapists" routerLinkActive="active-link">Therapists</a>
      </li>
      <li>
        <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Us</a>
      </li>
      <li *ngIf="checkRoles(['ROLE_ADMIN'])" class="nav-item">
        <a  class="nav-link active" aria-current="page" routerLink="/admin">Admin Page</a>
      </li>
      <li *ngIf="checkRoles(['ROLE_ADMIN', 'ROLE_USER'])" class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/user">Profile</a>
      </li>
    </ul>
    <button *ngIf="!isAuthenticated()" routerLink="login" role="button">Login</button>
    <button *ngIf="isAuthenticated()"  type="button" class="btn btn-logout" (click)="logout()"><span>Logout</span></button>

</div>


