<div id="footer">
  <a href="#"><img src="../../../../assets/pics/logo_bottom.svg" alt="Online Therapy"></a>

  <nav>
    <ul>
      <li>
        <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="therapists" routerLinkActive="active-link">Therapists</a>
      </li>
      <li>
        <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Us</a>
      </li>
    </ul>
  </nav>

  <div id="contact">
    <div id="social-media">
      <a href="#"><img src="assets/pics/icon_facebook.svg" alt="Facebook"></a>
      <a href="#"><img src="assets/pics/icon_twitter.svg" alt="Twitter"></a>
      <a href="#"><img src="assets/pics/icon_instagram.svg" alt="Instagram"></a>
    </div>
    <div id="address">
      <p>Address</p>
      <p>mail@example.com</p>
    </div>
  </div>

</div>
