<div class="about">

  <div class="about-us">

    <div class="about-us-left">
      <img src="assets/pics/about-us.svg" alt="About Us Icon"/>
      <p id="left-paragraph">We are a dedicated team passionate about psychological therapy and the powerful changes it can bring to people’s
        lives.</p>
    </div>

    <div class="about-us-description">
      <p>
        At My Online Therapy, we’re on a mission to make therapy accessible. By providing on-the-spot access to first class psychologists in multiple
        different ways, alongside digital psychological and educational tools, we want to put the power of change back into each and every person’s
        hands. We enable people to become the best version of themselves so that they can build a life with greater meaning, fulfilment and purpose.
      </p>
      <p>
        We envisage a world where mental health is just as much about prevention as it is cure. Where the relationship you have with yourself is just
        as
        important as the relationships you have with others. Because when things change inside of you, they begin to change around you too.
      </p>
      <p>
        Radical change begins with you. Sometimes it’s just about finding the right guidance to lead us onto the right track.
      </p>
    </div>

  </div>

  <div class="our-therapists">
    <div class="my-wrapper">
      <div class="our-therapists-title">
        <img src="assets/pics/our-therapists.svg" alt="Our Therapists Icon"/>
        <p>Our therapists are experts in a wide range of therapies and mental health conditions. Here’s who they are and what they specialise in.</p>
      </div>

      <div class="cards">
        <div class="card">
          <img src="assets/photo/img.png" alt="Psychologists-Image">
          <p class="card-title">Aibek Ualkhan</p>
          <p class="card-description">Child and Adolescent Parenting Consultant: I can help you navigate parenting challenges and build harmonious
            relationships with your children.</p>
        </div>

        <div class="card">
          <img src="assets/photo/img_1.png" alt="Psychologists-Image">
          <p class="card-title">Azamat Utelkhan</p>
          <p class="card-description">Professional Psychologist for Parents: I can assist you in mastering effective parenting strategies and
            overcoming the difficulties faced by modern parents.</p>
        </div>

        <div class="card">
          <img src="assets/photo/img_2.png" alt="Psychologists-Image">
          <p class="card-title">Yernar Menglibay</p>
          <p class="card-description">Professional Psychologist for Parents: I can assist you in mastering effective parenting strategies and
            overcoming the difficulties faced by modern parents.</p>
        </div>
      </div>

      <div class="cards">
        <div class="card">
          <img src="assets/photo/img_4.png" alt="Psychologists-Image">
          <p class="card-title">Tokanov Olzhas</p>
          <p class="card-description">Consultations on Child and Adolescent Parenting: Ensure your children's healthy emotional and psychological
            development through professional support and advice.</p>
        </div>

        <div class="card">
          <img src="assets/photo/img_6.png" alt="Psychologists-Image">
          <p class="card-title">Alua Berkin</p>
          <p class="card-description">Expert in Child and Adolescent Psychology: Gain understanding of children's and adolescents' developmental
            nuances and receive valuable tools for successful parenting.</p>
        </div>

        <div class="card">
          <img src="assets/photo/img_5.png" alt="Psychologists-Image">
          <p class="card-title">Banu Bekmukhamed</p>
          <p class="card-description">Psychological Support for Parents: Develop effective parenting skills, strengthen your bond with your children,
            and resolve family conflicts.</p>
        </div>
      </div>

    </div>
  </div>

</div>
