.card{
  background-color: #56ACA1;
  padding: 20px;
  font-weight: 400;
  height: fit-content;
  color: white;
}

.password-holder{
  margin-top: 20px;
}

#email, #password{
  margin-top: 10px;
}
.btn{
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 15px;
  width: 120px;
  background-color: #E4A48B;
  font-size: 20px;
  border: none;
  height: 30px;
  color: #FFF9F9;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn:hover {
  background-color: #e59576;
}

.signup{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}


