.card{
    font-family: 'Obviously', serif;
    padding: 20px;
    font-weight: 400;
}

.password-holder{
    margin-top: 20px;
}

#username, #password{
    margin-top: 10px;
}

.btn{
    margin-top: 20px;
    text-transform:  uppercase;
    border-radius: 0%;
    border: 1px solid black;
    box-shadow:1px 1px #b600ff ;
}