.home-welcome{
    background-position: center;
    background-image: url('/assets/pics/home-bg1.jpg');
    background-size: contain;
    background-repeat:round;
    height: 800px;
}

.card{
    padding: 20px;
    font-weight: 400;
}

.framework-link{
    text-decoration: none;
}

.home-posts{
    min-height: 400px;
}