<section  class="home-welcome">
    <div class="container pt-5">
        <div class="card  text-center" >
            <h2>
                Hello everyone, welcome to my test web site or as it is also called a pet project. 
                Here I check different functions of <a class="framework-link" href="https://spring.io/">Spring framework</a> and 
                <a class="framework-link" href="https://angular.io/">angular</a>. 
                I will also be posting future projects here.

                Maybe you wondered why this website looks so aweful. So it`s becasuse you are not true programmer:)
            </h2>  
        </div>
    </div>
</section>
<section class="home-posts">
    <div class="container pt-5">
        <div class="card text-center">
            <h2>
                Here you will see admin`s posts!
                If you don`t see anything, it means that admin didn`t post anything
            </h2>
        </div>
    </div>
</section>